#Temporary files
*.*~
*.exe

#Data directories
Raw_data/
Cal_data/
Merged_data/


#Stuff
OldStuff
OtherStuff

#ROOT files
*.root

#Image files
Analysis/Images
*.pdf
*.eps
*.png

#ROOT file in Analysis_Temp directory
Analysis_Temp/*.root
