#Temporary files
*.*~

#Data directories
Raw_data/
Cal_data/


#Info directory
Info

#Stuff
OldStuff
OtherStuff

#ROOT files


#Image files
Analysis/Images

#ROOT file in Analysis_Temp directory
Analysis_Temp/*.root
