#Temporary files
*.*~
*.exe

#Data directories
Raw_data/
Cal_data/
Merged_data/
Raw_data_Br/
Cal_data_Br/
Merged_data_Br/
Domenico/

#ROOT files
*.root

#Image files
Analysis/Images


#ROOT file in Analysis_Temp directory
Analysis_Temp/*.root
